@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    margin: 5em 3%;
    background-color: hsl(0, 0%, 95%);
}

.attribution {
margin: 5%;
text-align: center;
font-family: 'Lexend Deca', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 6%;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 6px 6px 0 0;
    padding: 5%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    color:hsl(0, 0%, 95%);
}

p{
 color: hsla(0, 0%, 100%, 0.75);
 margin: 5% 0 5%;
 font-family: 'Lexend Deca', sans-serif;
 font-size: 15px;
 width: 80%;
}

button {
    background-color:hsl(0, 0%, 95%);
    border-radius: 40px;
    font-size: 18px;
    padding: 10px;
    width: 50%;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 5%;
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.s-btn {
    color:hsl(31, 77%, 52%);
}

.suv-btn {
    color:hsl(184, 100%, 22%);
}

.suv {
    background-color:hsl(184, 100%, 22%);
    padding: 5%;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 5%;
    border-radius: 0 0 6px 6px;
}

img {
    margin-top: 5%;
}


@media (min-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        height: 700px;
    }

    .sedans {
        display: grid;
        padding:0 10% 0 10%;
        grid-column: 1/2;
        width: 450px;
        border-radius: 6px 0 0 6px;
    }

    .suv {
        display: grid;
        padding:0 10% 0 10%;
        grid-column: 2/3;
        width: 450px;
    }

    .luxury {
        display: grid;
        grid-column: 3/3;
        width: 450px;
        border-radius: 0 6px 6px 0;
        padding:0 10% 0 10%;
    }

    h1 {
     margin: -15% 0;
    }

    p {
        margin: -20% 0;
        font-size: 17px;
    }

    button {
      height: 60px;
      width: 200px;
    }

    img {
        margin-top: 10%;
    }
}